@charset "UTF-8";

.body-container{
	margin:0 auto;
	width : 1400px;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.rec{
	width: 900px;
	height: 600px;
	
}
.player{
	outline: none;
  border: none;
	border-radius: 70px; 
}
.spti{
	width: 350px;
	height: 500px;
	border: 1px solid #D4D4D4;
	border-radius: 20px;
	background: #F8F8F8;
	text-align: center;
	flex-direction: column;
	display: flex;
    align-items: center;
	justify-content: center;
	box-shadow: 5px 5px 5px gray;
	padding: 60px 0;
	
}
.btn{
	border: none;
	text-align: center;
	
}
.sptibtn{
	box-shadow: 5px 5px 5px gray;
	width:140px;
	height: 50px;
	border-radius:35px;
	background: #A5D7EC;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.spti>p:first-child{
	font-size: 28px;
	font-weight: bold;
	font-family: nexon lv2 medium;
}

.spti>p:nth-child(2){
	font-size: 20px;
	font-weight: bold;
	font-family: nexon lv2 medium;
}
.spti>img {
	width: 280px;
	height: 280px;
	
}


.boardcontent{
	width : 1400px;
	height : 1200px;
	margin:0 auto;
	justify-content: center;
	display: flex;
	margin-top : 100px;
	border: 1px solid red;
}


.con1{
	width: 400px;
	height: 600px;
	border: 1px solid blue;
}
.main-contents1>span{
	display:inline-block;
	width:400px;
	height: 70px;
	border-radius: 30px;
	font-size: 20px;
	font-family: nexon lv2 medium;
	
}
.title>img{
	display: inline;
}

 .banner {
    color: white;
    background-color: black;
    font-family: nexon lv2 medium;
    font-weight: bold;
    font-style: italic;
    
    align-content: center;
    letter-spacing: 5px;
 }




























