@charset "UTF-8";

#main{
	background-color: whitesmoke;
	width: 80%;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: #1B1B1B;
	border-radius: 20px;
	font-family: nexon lv1 light;
}

#main h3.pt-5 {
	font-family: nexon lv2 medium;
}

p{
	font-size: 32px;
}