@charset "UTF-8";
#result{
	display : none;
	background-color: whitesmoke;
	width: 80%;
	text-align: center;
	border-radius: 20px;
	font-family: nexon lv1 light;
	box-shadow: rgba(46, 106, 176, 0.19) 0px 5px 15px 0px;
}

.resultDesc{
	font-size: 20px;
}

.resultname{
	font-size: 26px;
}

.gohome{
	color: whitesmoke;
	background-color: #1B1B1B;
	font-size: 20px;
	border: 0px;
	border-radius: 20px;
}

.gohome:hover, .gohome:focus{
	background-color: #1B1B1B;
	color: whitesmoke;
}