@charset "UTF-8";
#result{
	display : none;
	background-color: whitesmoke;
	width: 80%;
	text-align: center;
	border-radius: 20px;
	font-family: nexon lv1 light;
}

.resultDesc{
	font-size: 26px;
}

.resultname{
	font-size: 20px;
}

.gohome{
	color: white;
	background-color: #FEE500;
	font-size: 20px;
	border: 0px;
	border-radius: 20px;
}

.gohome:hover, .gohome:focus{
	background-color: black;
	color: #FEE500;
}